<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

    {{>cssTag}}

</head>

<body>
    {{>navbar}}

    <div class="container-fluid weather-container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <form id="form">
                    <input type="text" name="" id="input" placeholder="Enter city name">
                    <input id="submit" type="submit" value="Search">
                </form>


            </div>
        </div>
    </div>

    {{!-- Output --}}
    <div id="display">

        <div class="container-fluid output-container">

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="output">
                        <p class="city">Halifax, CA</p>
                        <div class="inner">
                        <span class="temp">22°C</span>
                        <span class="temp-status"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {{>footer}}
</body>

{{>jsTag}}

</html>